@model pizzaServerApp.Models.Ingredient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostForOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostForOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightForOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightForOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAvailible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientType.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
